# requirements
# Usage: pip install -r requirements.txt

## RL environments -----------------------------------------------------
keras-rl2==1.0.5
numpy==1.26.4
tensorflow==2.10.1
gym==0.26.2
matplotlib==3.5.3
mediapipe==0.9.3.0
opencv-python==4.10.0.84
